body {
    margin: 0;
    font-family: "brown-pro", sans-serif;
    color: white;
    overflow-x: hidden;
    background-color: #052049;
    overscroll-behavior: none;
}

html {
    scroll-behavior: smooth;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

h1 {
    font-family: "Inter", sans-serif;
    font-size: 5em;
}

h2 {
    font-size: 5em;
    font-weight: 400;
}

header, .forside, .omos-page {
    position: relative;
    z-index: 1;
}

.hero-image img, .image-container img, .artist-card .image-container img, .new-image-container img, .event-image-container img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    display: block;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 10px 40px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    z-index: 100;
}

.logo {
    height: 52px;
}

.nav {
    display: flex;
    align-items: center; 
    gap: 20px; 
}

.nav ul {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 80px;
    margin-left: 70px;
}

.navbuttons {
    display: flex;
    gap: 10px;
}

.ticket-btn,
.login-btn {
    background-color: #9BC19F; 
    color: white;
    padding: 12px 25px;
    border-radius: 55px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 25px;
    transition: all 0.3s ease;
    text-decoration: none; 
}

.ticket-btn {
    font-weight: 200;
    background-color: transparent;
    border: 1px solid white;
}

.login-btn {
    font-weight: 800;
    border: 1px solid transparent;
}

.ticket-btn:hover,
.login-btn:hover {
    background-color: #608463;
    border: 1px solid transparent;
    font-weight: bold;
}

.nav li {
    display: flex;
    align-items: center;
}

.nav a {
    font-weight: 300;
    color: white; 
    text-decoration: none; 
    font-size: 16px; 
    position: relative;
    padding: 5px 0;
    transition: color 0.3s ease;
}

.nav a::after {
    content: ''; 
    position: absolute; 
    left: 0; 
    bottom: 0; 
    width: 0%; 
    height: 1px; 
    background-color: white; 
    transition: width 0.3s ease; 
}

.nav a:hover::after {
    width: 100%; 
}

.forside, .omos-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 40px;
    flex-wrap: wrap;
    margin-left: 45px;
    overflow: visible;
}

.hero-content, .omos-page .hero-content {
    max-width: 600px;
}

.hero-content h1 {
    margin-bottom: -10px;
}

.hero-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
    line-height: 1.8;
}

.button {
    background-color: transparent;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 25px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 200;
    display: inline-flex;
    align-items: center;
    gap: 8px; 
    cursor: pointer;
    transition: all 0.3s ease;
}

.button i {
    transition: transform 0.3s ease;
}

.button:hover i {
    transform: translateX(5px);
}

.button:hover {
    background-color: white;
    color: #052049;
}

.hero-image {
    position: relative;
    width: 510px;
    height: 510px;
    margin-right: 120px;
    margin-top: 40px; 
    overflow: visible;
}

.hero-image::before {
    content: '';
    position: absolute;
    top: 80px;
    left: 80px;
    width: 485px;
    height: 485px;
    border: 1px solid white;
    z-index: -1;
    background-color: transparent;
    opacity: 1; 
    clip-path: polygon(92% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 92%);
}

.highlight-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 300px;
    position: relative;
}

.highlight-content {
    max-width: 600px;
}

.highlight-content h2 {
    margin-bottom: 15px;
    margin-top: -50px;
}

.highlight-content p {
    font-size: 1.2em;
    line-height: 1.8;
    color: white; 
    margin-bottom: 20px;
}

.highlight-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 568px;
    height: 568px;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    left: 45px;
}

.highlight-image::before {
    content: '';
    position: absolute;
    top: 0px; 
    left: 190px; 
    width: 485px; 
    height: 414px; 
    border: 1px solid white; 
    z-index: -1; 
    background-color: transparent;
    opacity: 1; 
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 40%); 
}

.highlight-section::before, .artists-section::before {
    content: '';
    position: absolute;
    width: 1000px; 
    height: 1000px; 
    transform: translate(-50%, 50%) scale(1); 
    background: radial-gradient(
        circle, 
        rgba(101, 171, 107, 0.5) 0%, 
        rgba(147, 197, 152, 0.2) 30%, 
        transparent 70% 
    );
    z-index: 0; 
    animation: float 10s infinite ease-in-out; 
    overflow-x: hidden;
}

@keyframes float {
    0% {
        transform: translate(-50%, 50%) scale(1); /* Initial position */
    }
    25% {
        transform: translate(-45%, 45%) scale(1.05); /* Slightly move up and scale up */
    }
    50% {
        transform: translate(-55%, 55%) scale(1); /* Move down slightly */
    }
    75% {
        transform: translate(-48%, 52%) scale(0.95); /* Scale down slightly */
    }
    100% {
        transform: translate(-50%, 50%) scale(1); /* Return to initial */
    }
}

.highlight-section::before {
    top: -650px; 
    left: 75%; 
}

.artists-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 40px;
    position: relative;
    margin-top: 180px;
}

.artists-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    flex: 1;
}

.artist-card {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    gap: 8px; 
    position: absolute;
}

.artist-card:nth-child(1) {
    top: -55px;
    left: -20px; 
}

.artist-card:nth-child(2) {
    top: 0;
    left: 280px; 
}

.artist-card:nth-child(3) {
    top: 250px;
    left: 20px; 
}

.artist-card:nth-child(4) {
    top: 320px;
    left: 300px;
}

.artist-card .image-container {
    position: relative;
    width: 194px; 
    height: 194px; 
    overflow: visible; 
}

.artist-card .image-container::before {
    content: '';
    position: absolute;
    top: 10%;
    left: -30px; 
    width: 196px;
    height: 246px;
    border: 1px solid white;
    z-index: -1;
    clip-path: polygon(0 0, 10% 0, 100% 75%, 100% 100%, 0 100%); 
}

.artist-title {
    font-size: 1.1em;
    margin: 0;
    color: white;
    margin-left: 45px;
}

.artist-info {
    font-size: 1em; 
    color: white; 
    display: flex;
    align-items: center;
    gap: 5px; 
    margin: 0; 
    margin-left: 45px;
}

.artists-text {
    flex: 1;
    margin-left: 50px; 
}

.artists-text h2 {
    margin-bottom: 20px;
}

.artists-text p {
    font-size: 1.2em;
    line-height: 2;
    margin-bottom: 30px;
}

.artists-section::before {
    bottom: -25%;
    left: 25%;
}

.footer {
    background-color: #052049;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    font-size: 0.9em;
    margin-top: 350px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-logo img {
    height: 70px; 
    margin-top: -20px; 
}

.footer-nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-nav li {
    position: relative; 
    padding: 0 25px; 
}

.footer-nav li:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0; 
    top: 50%;
    transform: translateY(-50%);
    width: 1px; 
    height: 30px; 
    background-color: white; 
}

.footer-nav a {
    text-decoration: none;
    color: white;
    font-size: 2em;
    font-weight: 300;
}

.footer-top-button a {
    font-size: 2em;
    text-decoration: none;
    color: white;
    font-weight: 300;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    padding-top: 10px; 
}

.footer-links {
    display: flex;
    gap: 35px; 
    list-style: none;
    padding: 0;
    margin-left: 8px;
}

.footer-links a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    transition: color 0.3s ease;
    font-family: "Inter";
    font-size: 1.1em;
}

.footer-links a:hover {
    color: white;
}

.footer-copy {
    font-size: 1.1em;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
    font-family: "Inter";
}

.burger-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    z-index: 150; 
    display: none;
}

.burger-menu span {
    width: 25px;
    height: 3px;
    background: white;
    border-radius: 2px;
    transition: transform 0.3s ease;
}

.mobile-nav {
    display: none; 
    position: absolute;
    top: 60px;
    right: 20px;
    background: rgba(5, 32, 73, 0.95);
    padding: 20px;
    z-index: 99;
    border-radius: 5px;
}

.mobile-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

.mobile-nav a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.mobile-nav a:hover {
    color: #9BC19F;
}

.mobile-nav.show {
    display: block;
}

/*---KUNSTNERE SIDE---*/
.header-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: flex-start;
    margin: 60px 20px 20px; 
    max-width: 1200px;
    padding: 0 20px;
    position: relative;
    z-index: 2;
    margin-bottom: 100px;
}

.new-artist-header {
    flex: 1;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 5em; 
    line-height: 1.2; 
    margin: 0;
}

.filter-section {
    display: flex; 
    align-items: center; 
    gap: 15px; 
    margin-top: 140px;
    justify-content: flex-end;
    margin-right: -180px;
}

.filter-section p {
    font-size: 20px;
    color: white;
    margin: 0;
}

.genres {
    display: flex;
    gap: 10px; 
    flex-wrap: wrap;
}

.genre-btn {
    background: transparent; 
    color: white;
    padding: 10px 20px;
    border: 0.5px solid white; 
    border-radius: 20px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: all 0.3s ease;
}

.genre-btn:hover {
    background: #9BC19F;
    transform: scale(1.05); 
}

.genre-btn.active {
    background: #9BC19F;
    color: white;
    border: 1px solid transparent;
}

.new-artist-cards-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 100px; 
    justify-content: center; 
    margin: 20px;
    max-width: calc(100% - 40px); 
    padding: 0; 
    position: relative;
    overflow: visible;
    z-index: 2;
    margin-right: 100px;
}

.new-artist-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 380px;
    position: relative;
    overflow: visible;
}

.new-image-container {
    position: relative;
    left: 70px;
    width: 360px;
    height: 290px;
    overflow: visible;
}

.new-image-container::before {
    content: '';
    position: absolute;
    top: 10%;
    left: -50px; 
    width: 377px;
    height: 455px;
    border: 1px solid white;
    z-index: -1;
    clip-path: polygon(0 0, 10% 0, 100% 63%, 100% 100%, 0 100%); 
}

.new-artist-header {
    display: flex;
    flex-direction: column; 
    gap: 5px;
    margin-bottom: 10px;
}

.artist-h1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 70px;
}

.info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.new-artist-genre {
    font-size: 18px; 
    font-family: "Inter";
    color: white;
    margin: 0;
    margin-right: 20px;
}

.artist-followers {
    font-size: 18px; 
    color: white;
    margin: 0;
    display: flex;
    align-items: center; 
    gap: 5px; 
    margin-left: 70px;
}

.artist-followers .material-icons {
    margin-right: 5px; 
}

.new-buttons {
    display: flex;
    gap: 20px;
    margin-top: 25px;
    margin-left: 70px;
}

.afspil-button,
.følg-button {
    font-size: 20px;
    border-radius: 55px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    width: 138px;
    height: 48px;
}

.afspil-button {
    background: transparent;
    border: 1px solid white;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 5px; 
}

.afspil-button i {
    font-size: 1.4em;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.afspil-button.paused {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid transparent;
}

.afspil-button:hover {
    background: white;
    color: #052049;
}

.følg-button {
    background-color: #9BC19F;
    border: 1px solid transparent;
    font-weight: bold;
}

.følg-button.following {
    background: transparent; 
    color: white;
    border: 1px solid white;
}

.expand-more-button {
    position: relative;
    margin-top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    background-color: #9BC19F;
    color: white; 
    border: none; 
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.expand-more-button:hover {
    transform: translateX(-50%) scale(1.1); 
}

/*---OM OS SIDE---*/
.omos, .logind {
    display: flex;
    justify-content: center;
    align-items: center;
}

.omos {
    flex-direction: column;
    text-align: center;  
    margin-top: 100px;
}

.omos p{
    font-size: 1.9em;
    line-height: 1.8em;
    margin-top: -10px;
}

.omos h3{
    font-size: 2.2em;
    font-weight: 400;
    margin-top: -30px;
    max-width: 100%;
}

/*---LOG IND SIDE---*/
.logind {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    z-index: 1;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

.text-content {
    flex: 1;
    text-align: center;
    padding-right: 50px;
}

.text-content p{
    font-size: 2em;
    font-weight: 300;
    margin-top: -20px;
}

.login-box {
    flex: 1;
    background-color: transparent;
    border: 1px solid white;
    padding: 40px;
    max-width: 500px;
    height: 500px; 
    text-align: center;
}

.social-login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 50px;
    gap: 10px;
}

.social-button.google {
    flex: 2;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 1rem;
    padding: 10px 35px; 
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    transition: all 0.3s ease;
    height: 50px; 
}

.social-button.google img, .social-button.facebook img, .social-button.apple img {
    width: 29px;
    height: 29px;
}

.social-button.google span {
    flex-grow: 1;
    text-align: left;
    font-size: 1rem;
}

.social-button.facebook,
.social-button.apple {
    flex: 1;
    background-color: transparent;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 50px; 
    width: 50px; 
    padding: 0;
}

.social-button:hover {
    background-color: white;
    color: #052049;
}

.login-form {
    margin-top: 20px;
    text-align: left;
}

.login-label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 8px;
}

.login-input {
    width: calc(100% - 20px);
    padding: 12px;
    font-size: 1rem;
    margin-bottom: 40px;
    border: 1px solid white;
    background: transparent;
    color: white;
}

.login-input::placeholder {
    color: #bbb;
}

.forgot-password {
    text-align: right;
    margin-bottom: 20px;
}

.forgot-password-link {
    font-size: 0.9rem;
    color: #9BC19F;
    text-decoration: none;
    transition: color 0.3s ease;
}

.forgot-password-link:hover {
    color: white;
}

.logind-button {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #9BC19F;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sign-in-button:hover {
    background-color: #608463;
}

.signup-link {
    margin-top: 20px;
}

.signup-link-button {
    font-weight: bold;
    color: #9BC19F;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.signup-link-button:hover {
    color: white;
}

/*---EVENT SIDE---*/
.event-cards-section {
    display: flex;
    justify-content: center;
    gap: 50px; 
    margin: 0 auto; 
    width: 1200px; 
    padding: 40px 20px; 
    position: relative; 
    z-index: 10;
    right: 30px;
}

.event-card {
    display: flex;
    flex-direction: row; 
    background-color: transparent;
    overflow: hidden;
    padding: 20px;
    margin-bottom: 20px;
}

.event-image-container {
    flex-shrink: 0;
    width: 453px; 
    height: 349px; 
    overflow: hidden;
    margin-right: 20px;
}

.event-image-container::before {
    content: '';
    position: absolute;
    top: 20%;
    left: 80px;
    width: 1182px;
    height: 380px;
    border: 1px solid white;
    z-index: -1;
    clip-path: polygon(40% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 88%);
}

.event-header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: -30px;
    margin-top: 30px;
}

.event-details {
    flex-grow: 1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0px;
    padding-right: 40px; 
    position: relative;
}

.event-title {
    font-size: 40px;
    font-weight: 400;
    margin-top: 50px;
    flex-shrink: 0;
    text-align: left;
    margin-left: 40px;
}

.event-cards-section .info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;
    font-size: 17px;
    color: #9bc19f;
    margin-left: 40px; 
    margin-right: 40px;
}

.event-cards-section .artist-followers, .event-genre {
    margin: 0;
    flex: 1; 
    text-align: left;
    color: white;
}

.event-date {
    flex-shrink: 0; 
    text-align: right;
    margin: 0;
    color: white;
}

.event-description {
    font-size: 20px;
    line-height: 1.8;
    margin: 10px 0 20px;
    color: white;
    text-align: left;
    margin-left: 40px;
    margin-right: -50px;
}

.event-buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: flex-end;
    margin-right: -45px;
}

.event-billet-button {
    font-size: 20px;
    border-radius: 55px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    width: 138px;
    height: 48px;
    background: transparent;
    color: white;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-billet-button:hover {
    background: white;
    color: #052049;
}

/*---TABLET---*/
@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .text-content {
        margin-bottom: 40px;
        padding-right: 0;
    }

    .login-box {
        max-width: 100%;
    }

    .social-button.google span {
        display: none;
    }

    .new-artist-cards-section {
        grid-template-columns: 1fr; /* One card per row on smaller screens */
        gap: 80px; /* Increase gap between cards */
    }

    .filter-section {
        display: flex;
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Center-align elements */
        gap: 10px; /* Add spacing between Musik Genre and genres */
        margin: 0;
        margin-top: 40px; /* Adjust spacing from the header */
    }

    .filter-section p {
        text-align: center; /* Center-align the Musik Genre text */
        margin-bottom: 20px;
    }

    .genres {
        justify-content: center; /* Center genres */
    }
}

/*---MOBIL---*/
@media (max-width: 480px) {
    * {
        max-width: 100vw; 
        box-sizing: border-box; 
    }

    .nav {
        display: none; 
    }

    .burger-menu {
        display: flex; 
        margin-right: -20px;
    }

    .logo {
        flex: 1;
        height: 40px;
        margin-left: -20px;
    }

    .ticket-btn, .login-btn {
        font-size: 12px; 
        padding: 5px 10px; 
        border-radius: 25px; 
        margin: 0 5px; 
    }

    .navbuttons {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 10px 0;
    }

    .mobile-nav {
        display: none;
        position: absolute;
        top: 65px;
        margin-right: -20px;
        background: rgba(5, 32, 73, 0.95);
        padding: 20px;
        z-index: 99;
        width: 100%;
    }

    .mobile-nav ul {
        flex-direction: column;
        gap: 15px;
        align-items: flex-end;
    }

    .forside {
        flex-direction: column;
        align-items: center;
        padding: 20px; 
        margin-left: 0px;
    }

    .hero-content {
        max-width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .hero-content h1 {
        font-size: 2.5em; 
        margin-bottom: 20px;
    }

    .hero-content p, .button {
        margin-top: 20px;
    }

    .hero-image {
        position: relative;
        width: 300px; 
        height: 300px; 
        margin: 0 auto; 
    }

    .hero-image::before {
        top: 40px;
        left: 40px; 
        width: 280px; 
        height: 280px; 
    }

    .hero-content p, .hero-content .button {
        max-width: 300px; 
        margin: 20px auto 0; 
    }

    .highlight-section {
        flex-direction: column; 
        align-items: center; 
        padding: 20px;
        margin-top: 150px;
    }

    .highlight-image {
        display: none; 
    }

    .highlight-content {
        max-width: 100%; 
        text-align: center; 
        margin: 0 auto; 
    }

    h2 {
        font-size: 2.5em;
        margin-bottom: 15px;
    }

    .highlight-content p {
        font-size: 1em;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .artists-section {
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 20px;
        margin-top: 80px;
        margin-left: -10px;
    }

    .artists-images {
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }

    .artist-card {
        position: static; 
        width: auto; 
    }

    .artist-card:nth-child(3), .artist-card:nth-child(4) {
        display: none; 
    }

    .artist-card:nth-child(1) {
        transform: translateX(-20px);
        margin-bottom: -10px; 
        margin-left: -80px;
    }

    .artist-card:nth-child(2) {
        transform: translateX(20px); 
        margin-top: -10px;
    }

    .artist-card .image-container {
        margin: 0 auto; 
        width: 160px; 
        height: 160px;
    }

    .artist-card .image-container::before {
        width: 160px; 
        height: 220px;
        top: 10px; 
        left: -20px; 
    }

    .artist-title {
        margin: 5px 0 0 0; 
        font-size: 0.9em; 
        padding-left: 45px;
    }

    .artist-info {
        font-size: 0.8em; 
    }

    .artists-text {
        margin-top: 30px;
    }

    .artists-text h2 {
        font-size: 1.8em;
        margin-bottom: 10px;
    }

    .artists-text p {
        font-size: 1em;
        line-height: 1.6;
        margin-bottom: 20px;
    }

    .artists-section::before {
        display: none;
    }

    .omos-page{
        margin-left: 0px;
    }

    .omos {
        margin: 120px 20px;
        max-width: 90%;
    }

    .omos p {
        font-size: 1em;
    }

    .omos h3{
        font-size: 1.3em;
        margin-top: 0px;
    }

    .footer {
        padding: 20px 15px;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    .footer-top-button, .footer-logo {
        display: none;
    }

    .footer-nav ul {
        justify-content: center; 
        gap: 15px; 
        margin: 10px 0; 
        list-style: none;
        margin-left: 25px;
    }

    .footer-nav li, .footer-nav ul {
        padding: 0;
    }

    .footer-nav li:not(:last-child)::after {
        right: -10px;
        top: 50%;
        height: 20px;
    }

    .footer-bottom {
        flex-direction: row;
        justify-content: center;
        gap: 15px;
        margin-top: 10px;
        text-align: center;
    }

    .footer-links {
        display: flex;
        justify-content: center;
        gap: 10px;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .footer-copy {
        text-align: center;
    }

    .event-cards-section {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 20px; 
        gap: 20px; 
        margin: 0 auto;
        margin-left: 30px;
        margin-top: -50px;
        margin-bottom: 20px;
    }

    .event-card {
        flex-direction: column; 
        padding: 10px; 
        margin-bottom: 15px;
        margin: 0 auto;
        max-width: 400px;
        width: 90%;
    }

    .event-image-container {
        width: 100%; 
        height: 200px;
        margin-right: 0;
    }

    .event-header{
        flex-direction: column;
        margin-top: 0px;
    }

    .event-details {
        padding-left: 10px; 
        padding-right: 10px; 
        justify-content: flex-start;
    }

    .event-title {
        font-size: 24px; 
        margin-top: 20px; 
        margin-left: 0; 
        text-align: center; 
    }

    .event-cards-section .info-row {
        flex-direction: column; 
        gap: 10px; 
        font-size: 14px; 
        margin-left: 0; 
        margin-right: 0;
        margin-top: 50px;
    }

    .event-cards-section .artist-followers, .event-genre {
        text-align: center; 
    }

    .event-date {
        text-align: center; 
        font-size: 14px; 
    }

    .event-description {
        font-size: 16px; 
        line-height: 1.5; 
        text-align: center; 
        margin-left: 0; 
        margin-right: 0;
    }

    .event-buttons {
        justify-content: center; 
        margin-top: 15px; 
        margin-right: 0; 
        gap: 10px;
    }

    .new-artist-header{
        font-size: 4em;
    }

    .event-image-container::before{
        display: none;
    }
}
